* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
}

/* Links */
a {
    text-decoration: none;
    color: inherit;
}

/* Listas */
ul, ol {
    list-style: none;
}

/* Tablas */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Imagenes */
img {
    max-width: 100%;
    height: auto;
}